/* Create color variables */
:root {
  --primary: #0480f4;
  --secondary: #e2856e;
  --secondary-light: #ada296;
  --neutral: #88a2aa;
  --black: #0f1a20;
  --white: #fff;
}

body {
  font-family: 'Actor', sans-serif;
}